# Macos polluting files and home scripts
*.DS_Store
*.Rhistory
*.Rapp.history
clean_folders.sh
xcode/**

# Compilation products
output/**
hpc_download/**
build/**
cmake/CmakeFiles/
cmake/CMakeCache.txt
cmake/cmake_install.cmake
cmake/Makefile
cmake/Config.h

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
